@import "./theme.css";

/* --- Global-Settings ---*/

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: bold;
  min-height: 0px;
}

/* --- Waybar ---*/
window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.module#window {
  color: @base06;
}

#left1,
#left2,
#left3,
#left4,
#right1,
#right2,
#right3,
#right4 {
  background-color: @base01;
  border-radius: 8px;
  border: 1px solid alpha(@base03, 0.65);
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
}

#right1,
#right2,
#right3,
#right4 {
  margin-left: 10px;
}

#left1,
#left2,
#left3,
#left4 {
  margin-right: 10px;
}

.module {
  color: @base0D;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

.module#custom-seperator {
  min-width: 1px;
  border: 0;
  border-right: 1px solid alpha(@base05, 0.15);
  padding: 0;
  margin: 0;
  margin-right: 6px;
}

#workspaces {
  padding: 0;
  margin: 0;
}

#workspaces button {
  padding: 3px;
  padding-left: 0px;
  margin: 0;
  background-color: transparent;
  color: @base07;
  opacity: 1;
}

#workspaces button.active {
  color: @base0A;
  opacity: 1;
}

#workspaces button.empty {
  color: alpha(@base07, 0.5);
  transition: all 0.15s ease-in-out;
}

#workspaces button.empty.active {
  color: @base07;
}
