/*
Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss

Backtrace:
/nix/store/hb9flj7wcnxzpr93r43lpx6ffpjayd1d-ruby3.3-sass-3.7.4/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `read'
/nix/store/hb9flj7wcnxzpr93r43lpx6ffpjayd1d-ruby3.3-sass-3.7.4/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/nix/store/hb9flj7wcnxzpr93r43lpx6ffpjayd1d-ruby3.3-sass-3.7.4/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/nix/store/hb9flj7wcnxzpr93r43lpx6ffpjayd1d-ruby3.3-sass-3.7.4/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/nix/store/hb9flj7wcnxzpr93r43lpx6ffpjayd1d-ruby3.3-sass-3.7.4/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/nix/store/hb9flj7wcnxzpr93r43lpx6ffpjayd1d-ruby3.3-sass-3.7.4/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:294:in `watch'
/nix/store/hb9flj7wcnxzpr93r43lpx6ffpjayd1d-ruby3.3-sass-3.7.4/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/plugin.rb:109:in `method_missing'
/nix/store/hb9flj7wcnxzpr93r43lpx6ffpjayd1d-ruby3.3-sass-3.7.4/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/nix/store/hb9flj7wcnxzpr93r43lpx6ffpjayd1d-ruby3.3-sass-3.7.4/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/nix/store/hb9flj7wcnxzpr93r43lpx6ffpjayd1d-ruby3.3-sass-3.7.4/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/nix/store/hb9flj7wcnxzpr93r43lpx6ffpjayd1d-ruby3.3-sass-3.7.4/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/nix/store/hxqpiyxah74xn79pww277d853nqyiba4-sass-3.7.4/lib/ruby/gems/3.3.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/nix/store/pfl0mlj0v1482lmlnq1dh87712cdwi6b-sass-3.7.4/bin/sass:35:in `load'
/nix/store/pfl0mlj0v1482lmlnq1dh87712cdwi6b-sass-3.7.4/bin/sass:35:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss"; }
